.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	background-color: #2b2e34;
	color: #fff;

	svg {
		color: #fff;
		display: inline-block;
		margin-right: 4px;
	}

	&-left {
		display: flex;
		align-self: stretch;

		.latest-news {
			height: 100%;
			padding: 0.2rem 1rem;
			background-color: #047857;
			margin-right: 0.5rem;
		}

		a:hover {
			color: lighten(#047857, 30%);
		}
	}

	&-right {
		min-width: 55%;
		display: flex;
		align-self: stretch;
		align-items: center;
		justify-content: space-between;

		.search {
			position: relative;
			&-box {
				padding: 0.3rem 0.8rem;
				border-radius: 0.2rem;
				background-color: #25262b;
				font-family: inherit;
				font-size: 0.9rem;
			}

			&-icon {
				position: absolute;
				right: 5px;
				cursor: pointer;
				height: 100%;
			}
		}

		.account {
			cursor: pointer;

			&:hover,
			&:hover svg {
				color: lighten(#047857, 30%);
			}

			svg {
				margin-bottom: 4px;
			}
		}

		.club-house {
			align-self: stretch;
			background-color: #047857;
			padding: 0 3rem;
			cursor: pointer;

			&:hover {
				background-color: lighten(#047857, 10%);
			}

			svg {
				margin-bottom: 4px;
			}
		}

		.chill-mode {
			margin-right: 5px;
		}
	}
}

.top-bar .flex-a-center {
	display: flex;
	align-items: center;
}
