.site-header {
	min-height: 15vh;
	padding: 0 8rem;
	padding-top: 2rem;
	background-color: #25262b;

	.logo {
		width: 10rem;
		height: auto;
	}
}

.site-navigation {
	border-top: 1px solid #474747;
	margin-top: 2rem;
	padding: 1rem 0;
	color: #d1d5db;

	// flex
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.nav-link:not(:last-child) {
		margin-right: 1.2rem;
	}

	.nav-link:first-child {
		color: lighten(#047857, 30%);
	}

	.nav-link {
		font-size: 0.9rem;
		font-weight: 500;
		letter-spacing: 1px;

		&:hover {
			color: lighten(#047857, 30%);
		}
	}
}
